.pg-main {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

nav {
  display: flex;
  gap: 10px;
}

.indexes {
  display: flex;
  gap: 4px;
}

.index {
  cursor: pointer;
}

.active-index {
  border-bottom: 1px solid rgb(126, 27, 27);
}

.nav-btn {
  color: white;
  padding: 5px;
  background-color: black;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
